PORT=3000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/nova-gmail?retryWrites=true&w=majority
TOKEN=8943950052:AAFIyXY0WUMGoxysaI3GqDCcxoF1YxkkmeY
SECRET_TOKEN=your_secure_verification_token_here
API_KEY=external_services_key
ADMIN_ID=6713604795
JWT_SECRET=your_jwt_secret_key_here_change_this
SESSION_SECRET=your_session_secret_key_here_change_this
TELEGRAM_GROUP_LINK=https://t.me/+UgyTaWw0MMU4ZDA0
DEVELOPER_ID=@ApeloXIT
NODE_ENV=development
